:root {
    --background: rgb(230, 230, 230);
    --accent: white;
    --color: rgb(82, 82, 82);
    --color-light: rgb(138, 138, 138);
    --background-dark: rgb(199, 199, 199);
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: var(--background);
    color: var(--color);
    font-family: "Roboto";
    user-select: none;
}

h1, h2, h3, h4 {
    margin: 0;
}

h1 {
    height: 2rem;
}

h3 {
    height: 1.2rem;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--background);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--background-dark);
}

#targetBillionaire {
    color: var(--color-light) !important;
}

.centered-children {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-vertically {
    display: flex;
    align-items: center;
}

.wrapper {
    width: 40vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-gap: 1rem;
    padding: 1rem 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    background: var(--accent);
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 0 0 20px 1px rgb(221, 221, 221);
}

.content {
    height: calc(100vh - 3rem);
}

.dollars {
    max-width: 35vw;
}

.billionaire-container {
    background: var(--accent);
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 0 0 20px 1px rgb(221, 221, 221);
}

.break {
    height: 0.5rem;
}

.search-bar {
    outline: 0;
    font-size: 1rem;
    padding: 0.3rem;
    box-sizing: border-box;
    font-family: "Roboto";
    border-style: solid;
    border-color: var(--background);
    color: var(--color);
    border-width: 1px;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
}

.search-bar:focus {
    border-color: var(--color);
}

.billionaire-container {
    display: grid;
    grid-gap: 1rem;
}

.billionaire-card {
    display: flex;
    gap: 0.5rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    /* weird shit for smoother transition */
    backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
}

.billionaire-card:hover {
    transform: scale(1.05);
}

.billionaire-card img {
    width: 3rem;
    height: 3rem;
}

.billionaire-card h3:first-child {
    width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.billionaire-card h3:last-child {
    font-weight: normal;
}

.billionaire-results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 10rem;
    overflow-y: auto;
    overflow-x: hidden;
    grid-gap: 0.5rem;
}

.spend-container {
    background: var(--accent);
    box-shadow: 0 0 20px 1px rgb(221, 221, 221);
    box-sizing: border-box;
    padding: 1rem;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-gap: 1rem;
}

#buySearch {
    width: 100%;
}

#searchResults {
    display: grid;
    overflow-y: auto;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    height: calc(100vh - 2rem - 33rem);
    padding-right: 0.5rem;
}

.result-card {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 0.5rem;
}

.result-icon {
    font-size: 2rem;
}

.result-card h3 {
    width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.result-card h3:last-child {
    font-weight: normal;
}

.button {
    font-size: 1rem;
    font-family: "Roboto";
    padding: 0.2rem;
    box-sizing: border-box;
    background: transparent;
    border-style: solid;
    color: white;
}

.adjustment-container {
    height: 3rem;
}

.adjustment-container .button {
    width: 2rem;
    height: 2rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.adjustment-container .search-bar {
    border-radius: 0;
    border-style: solid none solid none;
    margin: 0;
    height: 2rem;
    width: 2.5rem;
    text-align: center;
}

.adjustment-container .button:first-child {
    background: rgb(255, 99, 99);
    border-color: rgb(255, 99, 99);
    border-radius: 3px 0 0 3px;
}

.adjustment-container .button:first-child:hover {
    background: rgb(175, 47, 47);
    border-color: rgb(175, 47, 47);
}

.adjustment-container .button:last-child {
    background: rgb(88, 221, 36);
    border-color: rgb(88, 221, 36);
    border-radius: 0 3px 3px 0;
}

.adjustment-container .button:last-child:hover {
    background: rgb(65, 163, 26);
    border-color: rgb(65, 163, 26);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.reload-button {
    background: rgb(88, 221, 36);
    width: 1rem;
    height: 1rem;
    border-radius: 5px;
    padding: 0.3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    position: absolute;
    right: 0;
}

.reload-button:hover {
    background: rgb(65, 163, 26);
    border-color: rgb(65, 163, 26);
}